In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
df = pd.read_csv("StudentDepression.csv")

In [4]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [5]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}':\n{unique_values}\n{'-'*50}")

Unique values in 'id':
[     2      8     26 ... 140689 140690 140699]
--------------------------------------------------
Unique values in 'Gender':
['Male' 'Female']
--------------------------------------------------
Unique values in 'Age':
[33. 24. 31. 28. 25. 29. 30. 27. 19. 20. 23. 18. 21. 22. 34. 32. 26. 39.
 35. 42. 36. 58. 49. 38. 51. 44. 43. 46. 59. 54. 48. 56. 37. 41.]
--------------------------------------------------
Unique values in 'City':
['Visakhapatnam' 'Bangalore' 'Srinagar' 'Varanasi' 'Jaipur' 'Pune' 'Thane'
 'Chennai' 'Nagpur' 'Nashik' 'Vadodara' 'Kalyan' 'Rajkot' 'Ahmedabad'
 'Kolkata' 'Mumbai' 'Lucknow' 'Indore' 'Surat' 'Ludhiana' 'Bhopal'
 'Meerut' 'Agra' 'Ghaziabad' 'Hyderabad' 'Vasai-Virar' 'Kanpur' 'Patna'
 'Faridabad' 'Delhi' 'Saanvi' 'M.Tech' 'Bhavna' "'Less Delhi'" 'City'
 '3.0' "'Less than 5 Kalyan'" 'Mira' 'Harsha' 'Vaanya' 'Gaurav' 'Harsh'
 'Reyansh' 'Kibara' 'Rashi' 'ME' 'M.Com' 'Nalyan' 'Mihir' 'Nalini'
 'Nandini' 'Khaziabad']
--------------------------------------------------
Unique values in 'Profession':
['Student' "'Civil Engineer'" 'Architect' "'UX/UI Designer'"
 "'Digital Marketer'" "'Content Writer'" "'Educational Consultant'"
 'Teacher' 'Manager' 'Chef' 'Doctor' 'Lawyer' 'Entrepreneur' 'Pharmacist']
--------------------------------------------------
Unique values in 'Academic Pressure':
[5. 2. 3. 4. 1. 0.]
--------------------------------------------------
Unique values in 'Work Pressure':
[0. 5. 2.]
--------------------------------------------------
Unique values in 'CGPA':
[ 8.97    5.9     7.03    5.59    8.13    5.7     9.54    8.04    9.79
  8.38    6.1     7.04    8.52    5.64    8.58    6.51    7.25    7.83
  9.93    8.74    6.73    5.57    8.59    7.1     6.08    5.74    9.86
  6.7     6.21    5.87    6.37    9.72    5.88    9.56    6.99    5.24
  9.21    7.85    6.95    5.86    7.92    9.66    8.94    9.71    7.87
  5.6     7.9     5.46    6.79    8.7     7.38    8.5     7.09    9.82
  8.89    7.94    9.11    6.75    7.53    9.49    9.01    7.64    5.27
  6.      9.44    5.75    7.51    9.05    6.38    8.95    9.88    5.32
  6.27    7.7     8.1     9.59    8.96    5.51    7.43    8.79    9.95
  5.37    6.86    8.32    9.74    5.66    7.48    8.23    8.81    6.03
  5.56    5.68    5.14    7.61    6.17    8.17    9.87    8.75    6.16
  9.5     7.99    5.67    8.92    6.19    5.76    6.25    5.11    5.58
  5.65    9.89    8.03    6.61    9.41    8.64    7.21    8.28    6.04
  9.13    8.08    9.96    5.12    8.35    7.07    9.6     9.24    8.54
  8.78    8.93    8.91    9.04    6.83    5.85    7.74    6.41    8.9
  7.75    7.88    5.42    7.52    7.68    8.4     9.39    6.84    5.99
  8.62    8.53    7.47    6.78    6.42    9.92    8.39    5.89    7.22
  6.81    9.02    9.97    9.63    9.67    5.41    7.27    6.05    6.85
  9.33    5.81    6.53    5.98    6.02    6.74    5.26    7.72    7.39
  8.43    9.34    5.44    5.82    5.72    8.19    8.44    8.98    9.37
  5.8     7.28    7.6     7.91    9.17    7.46    9.43    9.91    9.36
  5.16    7.08    9.26    8.83   10.      7.8     9.46    6.63    7.24
  6.47    7.77    5.06    7.17    8.24    6.88    9.03    5.08    5.45
  8.46    9.19    6.36    8.73    7.11    9.12    9.4     8.11    9.98
  5.55    8.61    8.14    6.89    9.84    5.48    8.21    7.82    8.55
  5.79    8.77    8.29    6.92    7.37    9.7     6.26    7.26    7.5
  6.82    7.15    5.77    5.91    5.1     7.71    9.06    5.71    5.84
  9.42    6.23    6.29    5.25    9.69    9.9     6.39    8.09    5.83
  5.47    6.56    8.71    9.94    6.69    5.52    7.3     7.02    6.33
  8.07    8.37    8.      7.79    8.65    6.28    7.35    8.69    7.12
  7.32    7.13    5.97    5.09    6.91    6.76    6.52    7.45    8.56
  6.5     8.63    8.27    8.49    6.59    9.29    5.3     7.06    5.38
  6.65    9.16    8.01    8.25    8.02    8.47    7.34    8.88    7.14
  8.42    5.17    9.1     7.49    9.85    7.42    9.31    6.35    7.
  5.39    5.61    9.78    9.25    5.69    9.47    8.16    7.23    6.46
  0.      8.26    6.32    6.77    8.85    5.03    7.65    5.78    6.24
  5.35    6.06    7.78    6.64    7.0625  6.98    6.44    6.09  ]
--------------------------------------------------
Unique values in 'Study Satisfaction':
[2. 5. 3. 4. 1. 0.]
--------------------------------------------------
Unique values in 'Job Satisfaction':
[0. 3. 4. 2. 1.]
--------------------------------------------------
Unique values in 'Sleep Duration':
["'5-6 hours'" "'Less than 5 hours'" "'7-8 hours'" "'More than 8 hours'"
 'Others']
--------------------------------------------------
Unique values in 'Dietary Habits':
['Healthy' 'Moderate' 'Unhealthy' 'Others']
--------------------------------------------------
Unique values in 'Degree':
['B.Pharm' 'BSc' 'BA' 'BCA' 'M.Tech' 'PhD' "'Class 12'" 'B.Ed' 'LLB' 'BE'
 'M.Ed' 'MSc' 'BHM' 'M.Pharm' 'MCA' 'MA' 'B.Com' 'MD' 'MBA' 'MBBS' 'M.Com'
 'B.Arch' 'LLM' 'B.Tech' 'BBA' 'ME' 'MHM' 'Others']
--------------------------------------------------
Unique values in 'Have you ever had suicidal thoughts ?':
['Yes' 'No']
--------------------------------------------------
Unique values in 'Work/Study Hours':
[ 3.  9.  4.  1.  0. 12.  2. 11. 10.  6.  8.  5.  7.]
--------------------------------------------------
Unique values in 'Financial Stress':
['1.0' '2.0' '5.0' '3.0' '4.0' '?']
--------------------------------------------------
Unique values in 'Family History of Mental Illness':
['No' 'Yes']
--------------------------------------------------
Unique values in 'Depression':
[1 0]
--------------------------------------------------

In [42]:
def convert_sleep_duration(value):
    value = str(value).strip()
    if "Less than 5" in value:
        return 4  
    elif "5-6" in value:
        return 5.5  
    elif "7-8" in value:
        return 7.5  
    elif "More than 8" in value:
        return 9  
    else:
        return np.nan  

df['Sleep Duration'] = df['Sleep Duration'].apply(convert_sleep_duration)

In [43]:
df['Have you ever had suicidal thoughts ?'] = df['Have you ever had suicidal thoughts ?'].fillna('No').map({'Yes': 1, 'No': 0})

df['Family History of Mental Illness'] = df['Family History of Mental Illness'].map({'Yes': 1, 'No': 0})

In [44]:
for column in ['Profession', 'City', 'Sleep Duration', 'Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']:
    print(f"Unique values in '{column}':\n{df[column].unique()}\n{'-'*50}")

Unique values in 'Profession':
['Student' "'Civil Engineer'" 'Architect' "'UX/UI Designer'"
 "'Digital Marketer'" "'Content Writer'" "'Educational Consultant'"
 'Teacher' 'Manager' 'Chef' 'Doctor' 'Lawyer' 'Entrepreneur' 'Pharmacist']
--------------------------------------------------
Unique values in 'City':
['Visakhapatnam' 'Bangalore' 'Srinagar' 'Varanasi' 'Jaipur' 'Pune' 'Thane'
 'Chennai' 'Nagpur' 'Nashik' 'Vadodara' 'Kalyan' 'Rajkot' 'Ahmedabad'
 'Kolkata' 'Mumbai' 'Lucknow' 'Indore' 'Surat' 'Ludhiana' 'Bhopal'
 'Meerut' 'Agra' 'Ghaziabad' 'Hyderabad' 'Vasai-Virar' 'Kanpur' 'Patna'
 'Faridabad' 'Delhi' 'Saanvi' 'M.Tech' 'Bhavna' "'Less Delhi'" 'City'
 '3.0' "'Less than 5 Kalyan'" 'Mira' 'Harsha' 'Vaanya' 'Gaurav' 'Harsh'
 'Reyansh' 'Kibara' 'Rashi' 'ME' 'M.Com' 'Nalyan' 'Mihir' 'Nalini'
 'Nandini' 'Khaziabad']
--------------------------------------------------
Unique values in 'Sleep Duration':
[5.5 4.  7.5 9.  nan]
--------------------------------------------------
Unique values in 'Have you ever had suicidal thoughts ?':
[1 0]
--------------------------------------------------
Unique values in 'Family History of Mental Illness':
[0 1]
--------------------------------------------------

#the analysis starts here

In [27]:
print(df['Profession'].value_counts())

Profession
Student                     27870
Architect                       8
Teacher                         6
'Digital Marketer'              3
Chef                            2
'Content Writer'                2
Pharmacist                      2
Doctor                          2
'UX/UI Designer'                1
'Civil Engineer'                1
Manager                         1
'Educational Consultant'        1
Lawyer                          1
Entrepreneur                    1
Name: count, dtype: int64

In [28]:
print(df.groupby('Academic Pressure')['Depression'].value_counts(normalize=True) * 100)

Academic Pressure  Depression
0.0                0             55.555556
                   1             44.444444
1.0                0             80.587378
                   1             19.412622
2.0                0             62.517951
                   1             37.482049
3.0                1             60.158135
                   0             39.841865
4.0                1             76.139670
                   0             23.860330
5.0                1             86.086404
                   0             13.913596
Name: proportion, dtype: float64

In [30]:
print(df.groupby('Sleep Duration')['Depression'].value_counts(normalize=True) * 100)

Sleep Duration  Depression
4.0             1             64.512635
                0             35.487365
5.5             1             56.881773
                0             43.118227
7.5             1             59.501770
                0             40.498230
9.0             1             50.926539
                0             49.073461
Name: proportion, dtype: float64

In [31]:
print(df.groupby('Family History of Mental Illness')['Depression'].value_counts(normalize=True) * 100)

Family History of Mental Illness  Depression
0                                 1             56.000833
                                  0             43.999167
1                                 1             61.267866
                                  0             38.732134
Name: proportion, dtype: float64

In [ ]:
df['CGPA'] = pd.to_numeric(df['CGPA'], errors='coerce')  
print(df.groupby(pd.qcut(df['CGPA'], 4))['Depression'].value_counts(normalize=True) * 100)

CGPA            Depression
(-0.001, 6.29]  1             56.811388
                0             43.188612
(6.29, 7.77]    1             56.726808
                0             43.273192
(7.77, 8.92]    1             62.692419
                0             37.307581
(8.92, 10.0]    1             58.049202
                0             41.950798
Name: proportion, dtype: float64

C:\Users\Masters\AppData\Local\Temp\ipykernel_7224\2161031868.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(pd.qcut(df['CGPA'], 4))['Depression'].value_counts(normalize=True) * 100)

In [33]:
print(df.groupby('Financial Stress')['Depression'].value_counts(normalize=True) * 100)

Financial Stress  Depression
1.0               0             68.131224
                  1             31.868776
2.0               0             57.024303
                  1             42.975697
3.0               1             58.936089
                  0             41.063911
4.0               1             69.090909
                  0             30.909091
5.0               1             81.280715
                  0             18.719285
?                 0             66.666667
                  1             33.333333
Name: proportion, dtype: float64

In [34]:
print(df.groupby('Dietary Habits')['Depression'].value_counts(normalize=True) * 100)

Dietary Habits  Depression
Healthy         0             54.607241
                1             45.392759
Moderate        1             56.022578
                0             43.977422
Others          1             66.666667
                0             33.333333
Unhealthy       1             70.727925
                0             29.272075
Name: proportion, dtype: float64

In [35]:
df['Work/Study Hours'] = pd.to_numeric(df['Work/Study Hours'], errors='coerce')  
print(df.groupby(pd.qcut(df['Work/Study Hours'], 4))['Depression'].value_counts(normalize=True) * 100)

Work/Study Hours  Depression
(-0.001, 4.0]     0             56.459330
                  1             43.540670
(4.0, 8.0]        1             58.835217
                  0             41.164783
(8.0, 10.0]       1             66.980831
                  0             33.019169
(10.0, 12.0]      1             68.090369
                  0             31.909631
Name: proportion, dtype: float64

C:\Users\Masters\AppData\Local\Temp\ipykernel_7224\100289211.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(pd.qcut(df['Work/Study Hours'], 4))['Depression'].value_counts(normalize=True) * 100)

In [37]:
print(df.groupby('Gender')['Depression'].value_counts(normalize=True) * 100)

Gender  Depression
Female  1             58.450704
        0             41.549296
Male    1             58.628674
        0             41.371326
Name: proportion, dtype: float64

In [38]:
print(df.groupby('Have you ever had suicidal thoughts ?')['Depression'].value_counts(normalize=True) * 100)

Have you ever had suicidal thoughts ?  Depression
0                                      0             76.778917
                                       1             23.221083
1                                      1             79.049615
                                       0             20.950385
Name: proportion, dtype: float64

In [45]:
print(df.isnull().sum())

id                                        0
Gender                                    0
Age                                       0
City                                      0
Profession                                0
Academic Pressure                         0
Work Pressure                             0
CGPA                                      0
Study Satisfaction                        0
Job Satisfaction                          0
Sleep Duration                           18
Dietary Habits                            0
Degree                                    0
Have you ever had suicidal thoughts ?     0
Work/Study Hours                          0
Financial Stress                          0
Family History of Mental Illness          0
Depression                                0
dtype: int64

In [48]:
df.shape[0]

27901